:host {
    flex: 1;
    display: flex;
    gap: var(--sl-spacing-small);
    align-items: center;
    padding: var(--sl-spacing-medium);
    border-bottom: 1px solid var(--sl-color-gray-300);
}

.splitter {
    height: calc(100% + 2 * var(--sl-spacing-x-small));
    border-right: 1px solid var(--sl-color-gray-300);
    margin: 0 var(--sl-spacing-x-small);
}
