<app-part-control-button
    label="Cursor.Prev"
    icon="arrow-left"
    [action]="prev"
></app-part-control-button>

<app-part-control-button
    label="Cursor.Next"
    icon="arrow-right"
    [action]="next"
></app-part-control-button>

<div class="splitter"></div>

<app-part-control-select
    label="Add NoteSet"
    [items]="noteValueItems"
    [defaulValue]="NoteValue.Quarter"
    [action]="insertNoteSet"
></app-part-control-select>

<app-part-control-button
    label="Remove"
    icon="trash"
    [action]="remove"
></app-part-control-button>

<div class="splitter"></div>

<app-part-control-note
    label="Insert Note"
    [action]="insertNote"
></app-part-control-note>

<app-part-control-note
    label="Remove Note"
    [action]="removeNote"
></app-part-control-note>
